#? stdtmpl | standard
#proc html_page(title, body: string): string =
#  result = ""
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>$title</title>
</head>
<body>
$body
</body>
</html>
